.jekyll-metadata
.DS_Store
.bundle
.jekyll-cache/
.sass-cache/
Gemfile.lock
_site/
*.gem
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/